# Google Integration (Server-side only)
GOOGLE_SCRIPT_APP_URL=https://script.google.com/macros/s/AKfycbw9BF8j6_p9aDhepyQEJpMfBRkt5_gpyoh_Qc3r41VvdYHuDWIhcBFnsAGxNFEaJmxqMw/exec
GOOGLE_SECURITY_TOKEN=CCG_SECURE_ACCESS_2026
